$background-color: #55cd9f;

@mixin placeholder($width, $height, $name: null) {
  width: $width;
  height: $height;
  background: $background-color;
  border: 2px solid lighten($background-color, 30);
  position: relative;

  &:before {

    @if $name != null {
      content: "#{$name}";
    }

    @else {
      content: "#{$width} x #{$height}";
    }

    position: absolute;
    font: 16px/20px verdana;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
